* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    background-color: white;
}

.left-Panel {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    background-color: whitesmoke;
    justify-content: flex-start;
    align-items: center
}

.main-Page {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    height: 100vh;
}

.header {
    background: white;
    display: flex;
    height: 70px;
    width: 100%;
    color: black;
    justify-content: space-between;
    border-bottom: 0.5px solid lightgray;
    align-items: center;
}

.search {
    padding: 10px 10px;
    margin-left: 70px;
    border: 1px solid #FBFBFB;
    width: 30%;
    height: 50%;
    color: #C4CBD1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-radius: 5%;
    font-family: 'Source Sans Pro', sans-serif;
}

#search {
    margin-right: 10px;
}

#mic {
    margin-left: 220px;
}

.rightPanel {
    width: 30%;
    justify-content: flex-end;
    display: flex;
    margin-right: 80px;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.email {
    padding: 10px 20px;
}

.createNewPost {
    padding: 8px 20px;
    background-color: #FF4E6A;
    border-radius: 5%;
    height: 15%;
    color: #FDECEE;
    font-family: 'Source Sans Pro', sans-serif;
}

.like {
    padding: 10px 15px;
}

.content {
    background: white;
    display: flex;
    height: 90vh;
    width: 100%;
    margin-top: 40px;
    position: relative;
    
}

.heading-1 {
    width: 75%;
    background-color: White;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    position: absolute;
    top: 0;
    
}

.featuredStories {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

.popularStories {
    padding: 10px 10px;
    border: 1px solid #FBFBFB;
    width: 15%;
    color: #C4CBD1;
    align-items: center;
    background-color: #fff;
    border-radius: 5%;
    font-family: 'Source Sans Pro', sans-serif;
}

.images-1 {
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    margin-right: 50px;
    position: absolute;
    top: 8%;
    height: 40vh;
}

.images-1 img {
    padding: 10px 20px;
    border-radius: 10%;
}

.heading-2{
    width: 75%;
    background-color:white;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    position: absolute;
    top: 60%;
}
.menu{
    padding-right:  20px;
}


.images-2 
{
    position: absolute;
    top:70%;
    margin-left: 50px;
    margin-right: 50px;
   }
   .images-2 img
   {
    padding: 10px 20px;
    border-radius: 10%;
   }